.edit-btn {
  text-decoration: none;
  color: white;
  font-family: 'Marcellus', serif;
  padding: 10px 20px;
  background-color: #535351; /* Button color */
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-btn {
  text-decoration: none;
  color: white;
  font-family: 'Marcellus', serif;
  padding: 10px 20px;
  background-color: #535351; /* Button color */
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  justify-content: space-evenly;
}
