main {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Marcellus', serif;
  font-size: 3rem;
}

p {
  font-family: 'Marcellus', serif;
  font-size: 1.5rem;
  width: 600px;
}

.welcome-container {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
}
